{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@(.*)/(.*)$",
    "(c|le|sc)ss$",
    "^app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
